@use "base"; 
@use "components";

// ------------------------ //
// ------------------------ //
// ------------------------ //
// ------------------------ //

body {
    display: flex;
    flex-direction: column;
    @include typo-paragraph;
    background-color: $color-grey-clair;
    margin: 0;
    padding: 0;
}

h1 {
    @include title-roboto;
}

h2 {
    @include title-roboto;
    color: $color-grey-fonce;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-white;

    .logo {
        display: flex;
        align-items: center;
        @include logo;
        height: 63px;
        margin: 0;
    }

    .location {
        display: flex;
        align-items: center;
        justify-content: center;
        @include typo-button;
        width: 1em;
        width: 100%;
        height: 50px;
        background-color: $color-grey-fonce;
        box-shadow: 0px 4px 4px 0px #00000040;

        img {
            margin-right: 0.5em;
            width: 12px;
            height: 16px;
        }
    }
}

main {

    .hero {
        display: flex;
        text-align: center;
        justify-content: center;
        padding: 20px;
        background: $color-white;

        h2 {
            text-align: center;
        }

        p {
            text-align: center;
            color: $color-grey-fonce;
        }

        a {
            text-decoration: none;
        }
    }

    .functionality {
        padding: 20px;

        ol {
            display: flex;
            flex-direction: column;
            gap: 10px;
            

            ol li {
                display: flex;
                position: relative;
                align-items: center;
                background-color: $color-white;
                border-radius: 20px;
                height: 2em;
                @include shadow-instructions;

                .step-icon {
                    position: absolute;
                    margin-left: 0;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-color: $color-gradient;
                    color: $color-white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 14px;
                }

                img {
                    margin: 0 15px 0 15px;
                }
            }
        }
    }

    .restaurants {
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 20px;

        .restaurant-card {
            position: relative;
            display: flex;
            flex-direction: column;
            background: $color-white;
            border-radius: 20px;
            @include shadow-card;

            img {
                width: 100%;
                height: 231px;
                border-radius: 20px 20px 0 0;
                object-fit: cover;
            }

            .restaurant-info {

                display: flex;
                flex-direction: column;
                padding: 20px;

                h4 {
                    @include typo-sous-title;
                    margin: 0;
                    color: $color-grey-fonce;
                }

                p {
                    @include typo-paragraph;
                    margin: 5px 0;
                    color: $color-grey-fonce;
                }
            }

            .badge {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                top: 10px;
                right: 10px;
                padding: 1.5em;
                border-radius: 2px;
                background: $color-green;
                color: $color-dark-green;
                @include typo-paragraph;
                @include shadow-badge;

            }
        }
    }
}

footer {
    background: $color-grey-fonce;
    color: $color-white;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .logo {
        @include logo;
    }

    .footer-links {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;

        li {
            @include typo-paragraph;
        }

        li img {
            margin: 0 0.5em 0 0;
        }
    }
}

