@use "base"; 
@use "components";

// ------------------------ //
// ------------------------ //
// ------------------------ //
// ------------------------ //

body {
    display: flex;
    flex-direction: column;
    font-family: 'roboto';
    background-color: rgba(246, 246, 246, 1);
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    background-color: #fff;

    .logo {
        display: flex;
        align-items: center;
        height: 63px;
        font-family: 'Pacifico';
        font-size: 30px;
        font-style: italic;
        font-weight: 900;
        margin: 0;
    }

    .location {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'roboto', sans-serif;
        font-size: 16px;
        font-weight: 500;
        width: 100%;
        height: 50px;
        background-color: rgba(234, 234, 234, 1);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);


        img {
            margin-right: 5px;
            width: 12px;
            height: 16px;
        }
    }
}

main {

    .hero {
        text-align: center;
        padding: 20px;
        background: #fff;

         h2 {
            font-family: 'Roboto', sans-serif;
            font-size: 24px;
            font-weight: 700;
            line-height: 28.13px;
            text-align: center;
            color: rgba(0, 0, 0, 1);
        }

        p {
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            font-weight: 300;
            line-height: 21.09px;
            text-align: center;
            color: rgba(53, 53, 53, 1);
        }
    }

    .functionality {
        padding: 20px;

        h3 {
            font-family: 'Roboto', sans-serif;
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 20px;
            color: #333;
        }

        .steps {
            display: flex;
            flex-direction: column;

            .step {
                display: flex;
                align-items: center;
                background: #fff;
                border-radius: 20px;
                height: 72px;
                padding: 10px;
                margin-bottom: 10px;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

                .step-icon {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-color: rgba(147, 86, 220, 1);
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 10px;
                    font-size: 14px;
                }

                img {
                    margin: 0 15px 0 15px;
                }

                p {
                    margin: 0;
                    font-family: 'roboto', sans-serif;
                    font-size: 16px;
                    font-weight: 500;
                    color: #333;
                }
            }
        }
    }

    .restaurants {
        
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 20px;

        h3 {
            font-family: 'Roboto', sans-serif;
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 20px;
            color: #333;
        }

        .restaurant-card {
            display: flex;
            flex-direction: column;
            background: #fff;
            border-radius: 20px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

            img {
                width: 100%;
                height: 231px;
                border-radius: 20px 20px 0 0;
                object-fit: cover;
            }

            .restaurant-info {

                display: flex;
                flex-direction: column;
                padding: 20px;

                h4 {
                    font-family: 'Roboto', sans-serif;
                    font-size: 18px;
                    font-weight: 700;
                    margin: 0;
                    font-size: 16px;
                    color: #333;
                }

                p {
                    font-family: 'Roboto', sans-serif;
                    font-size: 17px;
                    font-weight: 300;
                    margin: 5px 0;
                    font-size: 14px;
                    color: #666;
                }

                img {
                    width: 35px;
                    height: 25px;
                    color: rgba(16, 16, 16, 1);
                }
            }

            .badge {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 10px;
                margin-left: 10px;
                width: 80px;
                height: 40px;
                border-radius: 2px;
                background: rgba(153, 226, 208, 1);
                color: white;
                font-family: 'roboto', sans-serif;
                font-size: 14px;
                font-weight: 500;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);

            }
        }
    }
}

footer {
    background: rgba(53, 53, 53, 1);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .logo {
        font-family: 'Pacifico';
        font-style: italic;
        font-size: 24px;
    }

    .footer-links {
        font-family: 'Roboto',sans-serif;
        font-size: 16px;
        font-weight: 500;
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;

        li {
            font-size: 14px;
        }

        li img {
            margin: 0 15px 0 0;
        }
    }
}

