// main.scss

@use 'base/normalize';
@use 'base/variables';
@use 'base/typography';
@use 'components/buttons';
@use 'components/cards';
@use 'layout/header';
@use 'layout/footer';
@use 'layout/main';

.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 50px 20px 50px 20px;
  gap: 25px;
  background-color: variables.$color-grey-clair;

  a {
    margin: 0 auto;
  }

  h2 {
    margin: 0;
    padding: 0;
  }

  p {
    margin: 0;
    padding: 0;
  }
}

.section-functionality {

    padding: 20px;
    background-color: variables.$color-white;

    @media (min-width: 992px) {
      padding: 50px 180px 50px 180px;
      }

    @media (min-width: 1444px) {
      padding: 50px 220px 50px 220px;
      display: flex;
      flex-direction: column;
      }
    }

    ol {
      list-style: none;
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 30px;

      @media (min-width: 1444px) {
        display: flex;
        flex-direction: row;
        }
      }
  
      li {
        display: flex;
        justify-content: start;
        text-align: center;
        position: relative;
        flex: 1;
        padding: 20px 20px 20px 50px;
        gap: 30px;
        background: variables.$color-grey-clair;
        border-radius: 10px;
        box-shadow: 0px 4px 15px 0px #00000026;

        .step-number {
            position: absolute;
            background-color: variables.$color-purple;
            width: 24px;
            height: 24px;
            border-radius: 50px;
            color: variables.$color-white;
            margin-left: -60px;
        }
      }
  
.section-restau {
  padding: 20px;
  background-color: variables.$color-grey-clair;

  @media (min-width: 992px) {
    padding: 50px 180px 50px 180px;
  }

  @media (min-width: 1444px) {
    padding: 50px 220px 50px 220px;
  }

  .restaurants {
    display: flex;
    flex-direction: column;
    gap: 15px;

    @media (min-width: 992px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 40px;
    }

    a {
      margin: 0;
      padding: 0;
      text-decoration: none;
    }

    .card {
      display: flex;
      flex-direction: column;
      position: relative;
      margin: 0;

      @media (min-width: 992px) {
        width: 490px;
        display: flex;
        flex-wrap: wrap;
      }
      @media (min-width: 1200px) {
        width: 490px;
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
      }
    }

      h3 {
        margin: 20px 0 0 20px;
        color: variables.$color-grey-fonce;
      }

      p {
        margin: 0 0 20px 20px;
        color: variables.$color-grey-fonce;
      }

      .nouveau {
        position: absolute;
        border-radius: 2px;
        padding: 5px;
        top: 5px;
        right: 5px;
        color: variables.$color-dark-green;
        background-color: variables.$color-green;
      }
    }
  }

.icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    transition: color 0.3s ease, background 0.3s ease;
    position: absolute;
    z-index: 10;
    bottom: 23px;
    right: 20px;
}

.toggle {
    display: none;
}

.toggle:checked + .icon i {
    background: variables.$color-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

// page la palette du gout //

@media (min-width: 992px) {
  section {
    padding: 0 180px 0 180px;
    background-color: variables.$color-white;
  }
}

.image-slider {
  width: 100%;
  height: 375px;
  z-index: 1;
  object-fit: cover;
}

.menu-section {
  margin-top: -100px;
  z-index: 2;
  padding: 20px;
  background-color: variables.$color-grey-clair;
  border-radius: 50px 50px 0 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  @media (min-width: 992px) {
    padding: 50px 180px 30px 180px;
  }

  .menu-header {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    @media (min-width: 992px) {
      justify-content: center;
      gap: 30px;
    }
    }

    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
      font-family: 'Shrikhand';
      font-size: 28px;
      font-style: italic;
      font-weight: 400;
      text-align: left;
    }

    .icon2 {
      width: 50px;
      height: 50px;
      cursor: pointer;
      font-size: 2em;
      transition: color 0.3s ease, background 0.3s ease;
    }  

    .toggle:checked + .icon2 i {
      background: variables.$color-gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: transparent;
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
    
    h2 {
      margin: 0;
      font-weight: 300;
      font-size: 1rem;
      padding-bottom: 10px;
      border-bottom: 3px solid variables.$color-light-green;
      width: 40px;
      @media (min-width: 992px) {
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 300;
        font-style: normal;
      }
    }

  .card-menu {
      display: flex;
      flex-direction: column;
      position: relative;
      border-radius: 15px;
      box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
      padding: 15px;
      background-color: white;
      cursor: pointer;
      border: none;
      transition: all 0.3s ease;
      outline: none;

      h3 {
        margin: 0;
        padding: 0;
        font-size: 18px;
        font-weight: 500;
      }

      p {
        margin: 0;
        padding: 0;
        font-weight: 300;
      }

      .prix {
        position: absolute;
        bottom: 15px;
        right: 15px;
        font-weight: 700;
      }
    }
  
  .check-icon {
      background-color: variables.$color-grey-clair;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: -60px;
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.3s ease;
      opacity: 0;
  }
  
  .card-menu:active .check-icon {
      right: 15px;
      opacity: 1;
  }
}

a {
  margin: 0 auto;
}

  


