// variables.scss

// Colors

$color-white: #fff;
$color-grey-clair: #F6F6F6;
$color-grey-fonce: #000000;
$color-green: #99e2d0;
$color-dark-green: #008766;
$color-light-green: #99E2D0;
$color-blue: #89c8fa;
$color-dark-blue: #c5e2f8;
$color-purple: #9356DC;
$color-gradient: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);

// Typography

$font-family-base: 'Roboto', sans-serif;
$font-size-base: 16px;
$font-weight-normal: 400;
$font-weight-bold: 700;
$line-height-base: 1.5;

// Mixins

@mixin shadow-badge {
    box-shadow: 0px 2px 4px 0px #00000026;
}

@mixin shadow-card {
    box-shadow: 0px 4px 15px 0px #0000001A;
}

@mixin shadow-button {
    box-shadow: 0px 4px 10px 0px #00000040;
}

@mixin shadow-instructions {
    box-shadow: 0px 4px 15px 0px #00000026;
}

// breackpoint

